/* Style the slider track for a specific ID */
#slider-rating {
    -webkit-appearance: none; /* Remove default styling */
    appearance: none; /* Full-width */
    height: 8px; 
    background: #ddd; /* Default background color */
    border-radius: 5px; /* Rounded corners */
    border: 1px solid #9e9e9e; /* Border style and color */
    position: relative; /* Required for pseudo-elements */
}


/* Style the track's right side */
#slider-rating::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc((100%) * 0.5); /* Adjust the width as needed */
    background: white; /* Left side color */
    border-radius: 5px 0 0 5px; /* Rounded corners */
}

#slider-rating::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc((100%) * 0.5); /* Adjust the width as needed */
    background: rgb(50, 125, 255); /* Right side color */
    border-radius: 0 5px 5px 0; /* Rounded corners */
}

/* Style the thumb (handle) */
#slider-rating::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    width: 15px;
    height: 15px;
    background: rgb(50, 125, 255); /* Thumb color */
    border-radius: 50%; /* Rounded shape */
    cursor: pointer; /* Cursor on hover */
    position: relative;
    
}
/* Style the font awesome icons */
.fa {
    display: inline-block;
    vertical-align: middle; /* Align icons vertically */
    margin-right: 5px; /* Adjust the spacing between icon and container */
}

/* Style the containers */
#checkbox-camera-container,
#checkbox-airport-container {
    display: inline-block;
    vertical-align: middle; /* Align containers vertically */
}
